asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
csvvalidator==1.2
Django==5.0.4
django-tables2==2.7.0
idna==3.7
numpy==2.0.0
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
whitenoise==6.6.0
